this is just a sample html .. would be replaced later on 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherforcast</title>
</head>
<body>
    <h1>welcome to our weatherapp</h1>
    <p>the temp is :</p>
    <h2 style="color: orangered;">This is just a sample html</h2>
    <a href="{% url 'index' %}"> clikck here to see what happens</a>
    <!-- # check how to style a link properly -->
</body>
</html>
